[submodule "api"]
	path = api
	url = git@github-k-toshio:Nortezh/cloudz.pro-api.git
[submodule "web-back-office"]
	path = web-back-office
	url = git@github-k-toshio:Nortezh/cloudz.pro-web-back-office.git
